//////////////////////////////////////////////
// Palette A
//////////////////////////////////////////////

// $clr-main: #586973
// $clr-alt: #c2d4d8
// $clr-hlt: #db8371
// $clr-bg: #e9eae4
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette B
//////////////////////////////////////////////

// $clr-main: #92394d
// $clr-alt: #eeb7a3
// $clr-hlt: #4b6e68
// $clr-bg: #e7e7dd
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette C
//////////////////////////////////////////////

// $clr-main: #824871
// $clr-alt: #f2bbee
// $clr-hlt: #d7922f
// $clr-bg: #d9d3d3
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette D
//////////////////////////////////////////////

// $clr-main: #5b504c
// $clr-alt: #c8bbab
// $clr-hlt: #c34433
// $clr-bg: #ece8df
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette E
//////////////////////////////////////////////

// $clr-main: #404e75
// $clr-alt: #caf0f6
// $clr-hlt: #c06062
// $clr-bg: #e9eae4
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette E2
//////////////////////////////////////////////

$clr-main: #1e215b
$clr-alt: #5c457e
$clr-hlt: #e36ddd
$clr-bg: #f7f7f7
$clr-text: #777
$clr-title: $clr-main

//////////////////////////////////////////////
// Palette F
//////////////////////////////////////////////

// $clr-main: #224d77
// $clr-alt: #b3c8e7
// $clr-hlt: #c39647
// $clr-bg: #f3f2f6
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette G
//////////////////////////////////////////////

// $clr-main: #1f1f1f
// $clr-alt: #bbfff1
// $clr-hlt: #01deb2
// $clr-bg: #eee
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette H
//////////////////////////////////////////////

// $clr-main: #3b363d
// $clr-alt: #ced1c0
// $clr-hlt: #dbd326
// $clr-bg: #f3f2f0
// $clr-text: #666
// $clr-title: $clr-main

//////////////////////////////////////////////
// Palette I
//////////////////////////////////////////////

// $clr-main: #2c305f
// $clr-alt: #ffa58c
// $clr-hlt: #d63360
// $clr-bg: #fdfcff
// $clr-text: #666
// $clr-title: $clr-main
