html, body {
  height: 100%;
}

body {
  background: #f9f9f9;
  color: #555459;
}

#root {
  display: flex;
  height: 100%;
}

.card {
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border: 1px solid #e8e8e8;
}
.tags .remove{
  float:right;
}
.tags div{
  background-color:#c0c0c0;
  color: buttontext;
  margin:1px 2px;
  padding: 1px 5px;
  display:inline-block;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius:5px;
}
