// sass --watch css
// sass --watch css --style compressed

@import "modules/_functions.sass"
@import "modules/_mixins.sass"
@import "modules/_colors.sass"

//////////////////////////////////////////////
// Global Vars
//////////////////////////////////////////////

// Typography
$fs-base: 16px
$line-height: 1.6
$blh: round($fs-base * $line-height)

$font-text: "'Open Sans', sans-serif"
$font-title: "'Raleway', sans-serif"
$title-trans: "none"
$title-weight: 300

// Font Scale Factor
// 1.067: Minor Second
// 1.125: Major Second
// 1.200: Minor Third
// 1.250: Major Third
// 1.333: Perfect Fourth
// 1.414: Augmented Fourth
// 1.500: Perfect Fifth
// 1.618: Golden Ratio

$scale-factor: 1.333
$xs-scale-factor: 1.125

// media breakpoints (min)
$media-min-xs: "screen and (min-width: 576px)"
$media-min-sm: "screen and (min-width: 768px)"
$media-min-md: "screen and (min-width: 992px)"
$media-min-lg: "screen and (min-width: 1200px)"
$media-min-xl: "screen and (min-width: 1400px)"

// media breakpoints (max)
$media-max-xs: "screen and (max-width: 575px)"
$media-max-sm: "screen and (max-width: 767px)"
$media-max-md: "screen and (max-width: 991px)"
$media-max-lg: "screen and (max-width: 1199px)"
$media-max-xl: "screen and (max-width: 1399px)"

@import "modules/_reset.sass"

//////////////////////////////////////////////
// Component: Non-BEM - Temp
//////////////////////////////////////////////

.fa
  display: inline-block

//////////////////////////////////////////////
// Component: App
//////////////////////////////////////////////

.app
  position: relative
  min-height: 100vh
  background: $clr-bg
  &__header
    display: block
  &__body
    display: block
  &__footer
    padding: $blh
    color: #bbb
  &__sections
    overflow: hidden

//////////////////////////////////////////////
// Component: Section
//////////////////////////////////////////////

.section
  display: block
  background: #fff
  width: 100%
  &--hero
    background-color: darken($clr-main, 10%)
    //background: url('/img/stracker-home-hero.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    color: #fff
  &--alt
    background: #fafafa

//////////////////////////////////////////////
// Component: Container
//////////////////////////////////////////////

.container
  max-width: 100%
  padding: $blh*2 $blh
  background: transparent

//////////////////////////////////////////////
// Component: Panel
//////////////////////////////////////////////

.panel
  width: 600px
  max-width: 100%
  margin: auto
  padding: $blh*2

//////////////////////////////////////////////
// Component: Dropdown
//////////////////////////////////////////////

.dropdown
  display: none
  &--active
    display: block

//////////////////////////////////////////////
// Component: Content
//////////////////////////////////////////////

.content
  color: #666
  max-width: 100%
  &__headline
    color: $clr-main
    .content--negative &
      color: #fff
  &--negative
    color: #eee

//////////////////////////////////////////////
// Component: Nav
//////////////////////////////////////////////

.nav
  +gradient-bg-diag($clr-main, $clr-alt)
  &__list
    margin: 0
    padding: 0
  &__item
    display: inline-block
  &__link,
  &__button
    font-size: $fs-base
    line-height: $blh
    background: transparent
    display: block
    padding: $blh/2 $blh
    color: #fff
    text-decoration: none
    border: 0
    border-right: solid 1px darken($clr-main, 5%)
    &:hover,
    &:focus,
    &:active
      background: darken($clr-main, 5%)
    &--branding
      font-weight: 700



//////////////////////////////////////////////
// Component: Form
//////////////////////////////////////////////

.form
  &__item
    display: block
    margin-bottom: $blh/2
  &__input
    padding: 8px
    border-radius: 4px
    border: solid 1px #ddd
    margin-bottom: 0
    width: 300px
    max-width: 100%
  &__error
    font-size: $fs-base / $scale-factor
    color: $clr-hlt
    padding-top: $blh/4
  &__submit
    margin-bottom: $blh

//////////////////////////////////////////////
// Component: Board List
//////////////////////////////////////////////

.boardlist
  padding: 0
  display: block
  position: relative
  &__item
    display: block
    width: 100%
    border: solid 1px #fafafa
    padding: $blh
    background: #fff
  &__inner
  &__letter
  &__info
  &__title
  &__description
  @media #{$media-max-xs}
    &__item
      margin-bottom: $blh/2
  @media #{$media-min-xs}
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: $blh/2
    &__item
      +transition-3(transform, border-color, box-shadow)
      position: relative
      z-index: 0
      display: block
      box-shadow: 0 0 0 rgba(0,0,0,0.15)
      &:hover,
      &:focus,
      &:active
        +transform-scale(1.1, 1.1)
        box-shadow: 0 0 $blh/2 rgba(0,0,0,0.15)
        border-color: $clr-hlt
        z-index: 100
  @media #{$media-min-md}
    grid-template-columns: repeat(3, 1fr)
  @media #{$media-min-lg}
    grid-template-columns: repeat(4, 1fr)

//////////////////////////////////////////////
// Component: Buttons & Links
//////////////////////////////////////////////

.button
  +transition(background-color)
  font-family: #{$font-title}
  display: inline-block
  background: lighten($clr-hlt, 5%)
  color: #fff
  padding: $blh/4 $blh/2
  border-radius: $blh/8
  border: 0
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  margin-bottom: $blh
  &:hover,
  &:focus,
  &:after
    cursor: pointer
    background: $clr-hlt

.link
  display: inline-block

//////////////////////////////////////////////
// Component: #
//////////////////////////////////////////////

.notification
  padding: $blh
  border: solid 1px #ddd
  background: #fff
  &__message
  &__close
  &__body


//////////////////////////////////////////////
// Component: NEW
//////////////////////////////////////////////

.columns
  @media #{$media-min-xs}
    height: 65vh
    overflow: hidden
    display: grid
    grid-template-columns: 1fr 2fr
    grid-gap: 0

.task
  display: block
  &--active
    color: blue
  &--inactive
    color: red

.form
  &--task
    background: #fff
    padding: $blh
    text-align: left
    box-shadow: 0 0 0 rgba(0,0,0,0.15)
  &--taskedit
    border: solid 1px green
  &--taskdetails
    border: solid 1px purple

.stack
  border: dotted 1px orange

.details
  background: #fff
  padding: $blh
  text-align: left
  box-shadow: 0 0 0 rgba(0,0,0,0.15)

.timer
  height: 100%
  overflow-y: scroll
  &__list
    padding: 0
    margin: 0
  &__item
    display: block

//////////////////////////////////////////////
// Component: NEW
//////////////////////////////////////////////
