*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #666; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: none;
  font-style: inherit;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 26px;
  color: #404e75; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 6.5px; }

@media screen and (min-width: 768px) {
  h1,
  .fs-h1 {
    font-size: 37.89749px;
    line-height: 52px; } }

@media screen and (max-width: 767px) {
  h1,
  .fs-h1 {
    font-size: 22.78125px; } }

@media screen and (min-width: 768px) {
  h2,
  .fs-h2 {
    font-size: 28.43022px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h2,
  .fs-h2 {
    font-size: 20.25px; } }

@media screen and (min-width: 768px) {
  h3,
  .fs-h3 {
    font-size: 21.328px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h3,
  .fs-h3 {
    font-size: 18px; } }

h4,
.fs-h4,
.fs-base {
  font-size: 16px; }

@media screen and (min-width: 768px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 12.003px; } }

@media screen and (max-width: 767px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 14.22222px; } }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 26px; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: inherit; }

a {
  color: #c06062; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%; }

.app {
  position: relative;
  min-height: 100vh;
  background: #e9eae4; }
  .app__header {
    display: block; }
  .app__body {
    padding: 26px 52px; }
  .app__footer {
    padding: 26px;
    color: #999; }

.container {
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 52px;
  background: #fff; }

.panel {
  display: block; }

.nav {
  background: #404e75; }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link, .nav__button {
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    display: block;
    padding: 13px 26px;
    color: #fff;
    text-decoration: none;
    border: 0;
    border-right: solid 1px #374365; }
    .nav__link:hover, .nav__link:focus, .nav__link:active, .nav__button:hover, .nav__button:focus, .nav__button:active {
      background: #374365; }
    .nav__link--branding, .nav__button--branding {
      font-weight: 700; }

.form__item {
  display: block; }

.form__input {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #ddd;
  margin-bottom: 13px;
  width: 300px;
  max-width: 100%; }

.form__error {
  color: #c06062; }

.block {
  display: block; }
  .block__element {
    display: inline; }
  .block--modifier {
    display: inline-block; }
