*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #777; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: none;
  font-style: inherit;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 26px;
  color: #1e215b; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 6.5px; }

@media screen and (min-width: 768px) {
  h1,
  .fs-h1 {
    font-size: 37.89749px;
    line-height: 52px; } }

@media screen and (max-width: 767px) {
  h1,
  .fs-h1 {
    font-size: 22.78125px; } }

@media screen and (min-width: 768px) {
  h2,
  .fs-h2 {
    font-size: 28.43022px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h2,
  .fs-h2 {
    font-size: 20.25px; } }

@media screen and (min-width: 768px) {
  h3,
  .fs-h3,
  .boardlist__letter {
    font-size: 21.328px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h3,
  .fs-h3,
  .boardlist__letter {
    font-size: 18px; } }

h4,
.fs-h4,
.fs-base {
  font-size: 16px; }

@media screen and (min-width: 768px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 12.003px; } }

@media screen and (max-width: 767px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 14.22222px; } }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 26px; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: inherit; }

a {
  color: #e36ddd; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%; }

.fa {
  display: inline-block; }

.app {
  position: relative;
  min-height: 100vh;
  background: #f7f7f7; }
  .app__header {
    display: block; }
  .app__body {
    display: block; }
  .app__footer {
    padding: 26px 26px 52px 26px;
    color: #bbb; }
  .app__sections {
    overflow: hidden; }

.section {
  display: block;
  background: #fff;
  width: 100%; }
  .section--hero {
    background-color: #111335;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff; }
  .section--alt {
    background: #fafafa; }

.container {
  max-width: 100%;
  padding: 52px 26px;
  background: transparent; }

.panel {
  width: 750px;
  max-width: 100%;
  margin: auto;
  padding: 52px; }

.dropdown {
  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  -ms-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 0;
  overflow: hidden; }
  .dropdown--active {
    max-height: 600px; }

.content {
  color: #666;
  max-width: 100%; }
  .content__headline {
    color: #1e215b; }
    .content--negative .content__headline {
      color: #fff; }
  .content__icon {
    margin: 0 6.5px; }
    .content__icon--start {
      margin-left: 0; }
  .content--negative {
    color: #eee; }
  @media screen and (min-width: 768px) {
    .content--dual {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 26px; }
    .content__text {
      grid-column: 1 / span 1;
      grid-row: 1; }
      .content--alt .content__text {
        grid-column: 2 / span 1; }
    .content__graphic {
      grid-column: 2 / span 1;
      grid-row: 1; }
      .content--alt .content__graphic {
        grid-column: 1 / span 1; } }

.temp-graphic {
  display: block;
  height: 100%;
  background: #fafafa;
  border: dotted 1px #ccc;
  padding: 26px;
  text-align: center; }

.nav {
  background: #1e215b;
  background: -moz-linear-gradient(-45deg, #1e215b 0%, #5c457e 100%);
  background: -webkit-linear-gradient(-45deg, #1e215b 0%, #5c457e 100%);
  background: linear-gradient(135deg, #1e215b 0%, #5c457e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=1 ); }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link, .nav__button {
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    display: block;
    padding: 13px 26px;
    color: #fff;
    text-decoration: none;
    border: 0;
    border-right: solid 1px #181a48; }
    .nav__link:hover, .nav__link:focus, .nav__link:active, .nav__button:hover, .nav__button:focus, .nav__button:active {
      background: #181a48; }
    .nav__link--branding, .nav__button--branding {
      font-weight: 700; }

.form__item {
  display: block;
  margin-bottom: 13px; }

.form__input {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #ddd;
  margin-bottom: 0;
  width: 300px;
  max-width: 100%; }

.form__error {
  font-size: 12.003px;
  color: #e36ddd;
  padding-top: 6.5px; }

.form__submit {
  margin-bottom: 26px; }

.options {
  display: block;
  position: absolute;
  top: 0;
  left: 0; }
  .options__toggle {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    display: inline-block;
    border: 0;
    padding: 13px;
    color: #1e215b; }
    .options__toggle:hover {
      color: #e36ddd;
      cursor: pointer; }
    .options__toggle:focus, .options__toggle:active {
      outline: 0; }
  .options__menu {
    -webkit-transition: max-height 0.3s ease-out;
    -moz-transition: max-height 0.3s ease-out;
    -ms-transition: max-height 0.3s ease-out;
    -o-transition: max-height 0.3s ease-out;
    transition: max-height 0.3s ease-out;
    overflow: hidden;
    height: auto;
    max-height: 0; }
    .options--active .options__menu {
      max-height: 500px; }
  .options__list {
    display: block;
    padding: 3.25px 0;
    margin: 0;
    border: solid 1px #ddd;
    background: #eee; }
  .options__item {
    display: block;
    border-top: solid 1px #ddd; }
    .options__item:last-child {
      border-bottom: solid 1px #ddd; }
  .options__button {
    -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.3s ease-out;
    display: block;
    width: 100%;
    background: transparent;
    border-radius: 0;
    border: 0;
    text-align: left;
    padding: 6.5px 13px;
    background: #fff;
    text-decoration: none; }
    .options__button:hover, .options__button:focus, .options__button:active {
      cursor: pointer;
      background: #1e215b;
      color: #fff;
      text-decoration: none; }

.boardlist {
  padding: 0;
  display: block;
  position: relative; }
  .boardlist__item {
    display: block;
    position: relative; }
  .boardlist__inner {
    display: block;
    width: 100%;
    border: solid 1px #fafafa;
    padding: 26px;
    background: #fff; }
  .boardlist__letter {
    display: inline-block;
    border: solid 2px #ddd;
    padding: 6.5px;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    text-transform: uppercase;
    line-height: 35.1px; }
  .boardlist__options {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    padding: 6.5px;
    display: inline-block;
    background: transparent;
    border: 0;
    color: #ccc;
    text-align: right; }
    .boardlist__options:hover, .boardlist__options:focus, .boardlist__options:active {
      color: #e36ddd; }
  @media screen and (max-width: 575px) {
    .boardlist__item {
      margin-bottom: 13px; } }
  @media screen and (min-width: 576px) {
    .boardlist {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 13px; }
      .boardlist__item {
        -webkit-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        position: relative;
        z-index: 0;
        display: block;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }
        .boardlist__item:hover, .boardlist__item:focus, .boardlist__item:active {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          border-color: #e36ddd;
          z-index: 100; } }
  @media screen and (min-width: 992px) {
    .boardlist {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1200px) {
    .boardlist {
      grid-template-columns: repeat(4, 1fr); } }

.button {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  background: #e782e2;
  color: #fff;
  padding: 6.5px 13px;
  border-radius: 3.25px;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 26px;
  vertical-align: middle; }
  .button:hover, .button:focus, .button:after {
    cursor: pointer;
    background: #e36ddd; }
  .button__icon {
    margin-right: 13px;
    vertical-align: middle; }
  .button__inner {
    vertical-align: middle; }

.link {
  display: inline-block; }

.notification {
  padding: 26px;
  border: solid 1px #ddd;
  background: #fff; }
  .notification__close {
    border: solid 1px red; }

@media screen and (min-width: 576px) {
  .columns {
    height: 65vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    min-height: 0;
    min-width: 0; } }

.tasklist {
  padding: 0 26px 0 0; }

.task {
  display: block;
  background: #fff;
  margin-bottom: 6.5px;
  padding: 6.5px 13px;
  color: #666;
  border: solid 1px #eee;
  border-radius: 3px;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out; }
  .task--inactive {
    color: #1e215b; }
  .task--running {
    color: #fff;
    background: #e36ddd; }
  .task--active {
    color: #fff;
    background: #5c457e; }

.for--task {
  background: #fff;
  padding: 26px;
  text-align: left;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }

.for--taskedit {
  background: #fff;
  padding: 26px;
  text-align: left;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }

.for--taskdetails {
  background: #fff;
  padding: 26px;
  text-align: left;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }

@media screen and (min-width: 576px) {
  .stack {
    grid-row: 1;
    grid-column: 1;
    max-height: 100%; } }

.details {
  display: block;
  background: #fff;
  text-align: left;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  overflow: hidden;
  border: solid 1px #eee; }
  .details__panel {
    height: 100%;
    overflow: hidden;
    padding: 26px; }
  .details__title {
    margin: 0; }
  .details__description {
    position: relative; }
  @media screen and (min-width: 576px) {
    .details {
      grid-row: 1;
      grid-column: 2;
      max-height: 100%; }
      .details__panel {
        height: 100%;
        overflow: hidden;
        position: relative;
        padding-right: 50%; } }

.timer {
  height: 100%;
  overflow-y: scroll;
  font-size: 12.003px; }
  .timer__list {
    padding: 0;
    margin: 0; }
  .timer__item {
    display: block; }
  .timer__delete {
    color: #e36ddd;
    margin-left: 13px; }
  @media screen and (min-width: 576px) {
    .timer {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      padding: 26px;
      border-left: solid 1px #eee; } }

.searchbar {
  margin-bottom: 26px; }
  .searchbar__input {
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #ddd;
    margin-bottom: 0;
    width: 200px;
    max-width: 90%; }
  .searchbar__icon {
    margin-left: 13px;
    color: #e36ddd; }

.list {
  padding: 0;
  margin: 0; }
  .list__item {
    display: block; }
    .list--inline .list__item {
      display: inline-block;
      margin-right: 13px; }

.currenttime {
  border: solid 1px #ddd;
  padding: 13px; }
  .currenttime__icon {
    margin-right: 6.5px; }

.panel--edit {
  background: #fff;
  border: solid 1px #ddd;
  border-radius: 3px; }

.panel__inner {
  padding: 26px; }
  .panel__inner--active {
    visibility: visible;
    max-height: auto; }
  .panel__inner--inactive {
    visibility: hidden;
    max-height: 0; }

.panel__icon {
  display: inline-block;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  line-height: 39px;
  color: #1e215b; }
  .panel__icon:first-child {
    color: #e36ddd; }

.panel__outer {
  background: #eee;
  min-height: 100vh; }

.panel__link {
  display: inline-block;
  border: solid 1px #ddd;
  border-radius: 3px; }
  .panel__link:hover, .panel__link:focus, .panel__link:active {
    background: #eee; }

.runningtimer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 6.5px 26px;
  background: rgba(30, 33, 91, 0.85);
  width: 100%;
  color: #fff; }
  .runningtimer__list {
    padding: 0;
    margin: 0; }
  .runningtimer__item {
    display: inline-block;
    margin-right: 26px;
    position: relative;
    cursor: pointer; }
  .runningtimer__icon {
    margin-right: 6.5px; }
  .runningtimer__info {
    position: absolute;
    top: -78px;
    left: 0;
    width: 200%;
    background: #1e215b;
    display: none;
    padding: 6.5px 13px;
    border-radius: 4px; }
    .runningtimer__info:before {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #1e215b transparent transparent transparent; }
    .runningtimer__item:hover .runningtimer__info {
      display: block; }
