*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%; }

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  color: #777; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: none;
  font-style: inherit;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 26px;
  color: #1e215b; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-top: 6.5px; }

@media screen and (min-width: 768px) {
  h1,
  .fs-h1 {
    font-size: 37.89749px;
    line-height: 52px; } }

@media screen and (max-width: 767px) {
  h1,
  .fs-h1 {
    font-size: 22.78125px; } }

@media screen and (min-width: 768px) {
  h2,
  .fs-h2 {
    font-size: 28.43022px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h2,
  .fs-h2 {
    font-size: 20.25px; } }

@media screen and (min-width: 768px) {
  h3,
  .fs-h3 {
    font-size: 21.328px;
    line-height: 39px; } }

@media screen and (max-width: 767px) {
  h3,
  .fs-h3 {
    font-size: 18px; } }

h4,
.fs-h4,
.fs-base {
  font-size: 16px; }

@media screen and (min-width: 768px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 12.003px; } }

@media screen and (max-width: 767px) {
  h5,
  small,
  button,
  .fs-h5,
  .fs-small {
    font-size: 14.22222px; } }

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 26px; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: inherit; }

a {
  color: #e36ddd; }

figure {
  margin: 0; }
  figure img {
    max-width: 100%; }

.fa {
  display: inline-block; }

.app {
  position: relative;
  min-height: 100vh;
  background: #f7f7f7; }
  .app__header {
    display: block; }
  .app__body {
    display: block; }
  .app__footer {
    padding: 26px;
    color: #bbb; }
  .app__sections {
    overflow: hidden; }

.section {
  display: block;
  background: #fff;
  width: 100%; }
  .section--hero {
    background-color: #111335;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff; }
  .section--alt {
    background: #fafafa; }

.container {
  max-width: 100%;
  padding: 52px 26px;
  background: transparent; }

.panel {
  width: 600px;
  max-width: 100%;
  margin: auto;
  padding: 52px; }

.content {
  color: #666;
  max-width: 100%; }
  .content__headline {
    color: #1e215b; }
    .content--negative .content__headline {
      color: #fff; }
  .content--negative {
    color: #eee; }

.nav {
  background: #1e215b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1e215b 0%, #5c457e 100%);
  background: -webkit-linear-gradient(-45deg, #1e215b 0%, #5c457e 100%);
  background: linear-gradient(135deg, #1e215b 0%, #5c457e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$clr-a', endColorstr='$clr-b',GradientType=1 ); }
  .nav__list {
    margin: 0;
    padding: 0; }
  .nav__item {
    display: inline-block; }
  .nav__link, .nav__button {
    font-size: 16px;
    line-height: 26px;
    background: transparent;
    display: block;
    padding: 13px 26px;
    color: #fff;
    text-decoration: none;
    border: 0;
    border-right: solid 1px #181a48; }
    .nav__link:hover, .nav__link:focus, .nav__link:active, .nav__button:hover, .nav__button:focus, .nav__button:active {
      background: #181a48; }
    .nav__link--branding, .nav__button--branding {
      font-weight: 700; }

.form__item {
  display: block;
  margin-bottom: 13px; }

.form__input {
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #ddd;
  margin-bottom: 0;
  width: 300px;
  max-width: 100%; }

.form__error {
  font-size: 12.003px;
  color: #e36ddd;
  padding-top: 6.5px; }

.form__submit {
  margin-bottom: 26px; }

.boardlist {
  padding: 0;
  display: block;
  position: relative; }
  .boardlist__item {
    display: block;
    width: 100%;
    border: solid 1px #fafafa;
    padding: 26px;
    background: #fff; }
  @media screen and (max-width: 575px) {
    .boardlist__item {
      margin-bottom: 13px; } }
  @media screen and (min-width: 576px) {
    .boardlist {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 13px; }
      .boardlist__item {
        -webkit-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        -o-transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        transition: transform 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
        position: relative;
        z-index: 0;
        display: block;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.15); }
        .boardlist__item:hover, .boardlist__item:focus, .boardlist__item:active {
          -webkit-transform: scale(1.1, 1.1);
          -moz-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
          -o-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
          box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
          border-color: #e36ddd;
          z-index: 100; } }
  @media screen and (min-width: 992px) {
    .boardlist {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 1200px) {
    .boardlist {
      grid-template-columns: repeat(4, 1fr); } }

.button {
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -ms-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  background: #e782e2;
  color: #fff;
  padding: 6.5px 13px;
  border-radius: 3.25px;
  border: 0;
  font-weight: 700;
  text-transform: uppercase; }
  .button:hover, .button:focus, .button:after {
    cursor: pointer;
    background: #e36ddd; }

.link {
  display: inline-block; }

.block {
  display: block; }
  .block__element {
    display: inline; }
  .block--modifier {
    display: inline-block; }
