// sass --watch css
// sass --watch css --style compressed

@import "modules/_functions.sass"
@import "modules/_mixins.sass"
@import "modules/_colors.sass"

//////////////////////////////////////////////
// Global Vars
//////////////////////////////////////////////

// Typography
$fs-base: 16px
$line-height: 1.6
$blh: round($fs-base * $line-height)

$font-text: "'Open Sans', sans-serif"
$font-title: "'Raleway', sans-serif"
$title-trans: "none"
$title-weight: 300

// Font Scale Factor
// 1.067: Minor Second
// 1.125: Major Second
// 1.200: Minor Third
// 1.250: Major Third
// 1.333: Perfect Fourth
// 1.414: Augmented Fourth
// 1.500: Perfect Fifth
// 1.618: Golden Ratio

$scale-factor: 1.333
$xs-scale-factor: 1.125

// media breakpoints (min)
$media-min-xs: "screen and (min-width: 576px)"
$media-min-sm: "screen and (min-width: 768px)"
$media-min-md: "screen and (min-width: 992px)"
$media-min-lg: "screen and (min-width: 1200px)"
$media-min-xl: "screen and (min-width: 1400px)"

// media breakpoints (max)
$media-max-xs: "screen and (max-width: 575px)"
$media-max-sm: "screen and (max-width: 767px)"
$media-max-md: "screen and (max-width: 991px)"
$media-max-lg: "screen and (max-width: 1199px)"
$media-max-xl: "screen and (max-width: 1399px)"

@import "modules/_reset.sass"

//////////////////////////////////////////////
// Component: App
//////////////////////////////////////////////

.app
  position: relative
  min-height: 100vh
  background: $clr-bg
  &__header
    display: block
  &__body
    display: block
  &__footer
    padding: $blh
    color: #bbb

//////////////////////////////////////////////
// Component: Section
//////////////////////////////////////////////

.section
  display: block

//////////////////////////////////////////////
// Component: Container
//////////////////////////////////////////////

.container
  max-width: 100%
  padding: $blh*2
  background: #fff

//////////////////////////////////////////////
// Component: Panel
//////////////////////////////////////////////

.panel
  width: 600px
  max-width: 100%
  margin: auto
  padding: $blh*2
  background: #fff

//////////////////////////////////////////////
// Component: Nav
//////////////////////////////////////////////

.nav
  +gradient-bg-diag($clr-main, $clr-alt)
  &__list
    margin: 0
    padding: 0
  &__item
    display: inline-block
  &__link,
  &__button
    font-size: $fs-base
    line-height: $blh
    background: transparent
    display: block
    padding: $blh/2 $blh
    color: #fff
    text-decoration: none
    border: 0
    border-right: solid 1px darken($clr-main, 5%)
    &:hover,
    &:focus,
    &:active
      background: darken($clr-main, 5%)
    &--branding
      font-weight: 700



//////////////////////////////////////////////
// Component: #
//////////////////////////////////////////////

.form
  &__item
    display: block
  &__input
    padding: 8px
    border-radius: 4px
    border: solid 1px #ddd
    margin-bottom: $blh/2
    width: 300px
    max-width: 100%
  &__error
    color: $clr-hlt

//////////////////////////////////////////////
// Component: Board List
//////////////////////////////////////////////

.boardlist
  padding: 0
  &__item
    display: block
    border: solid 1px #ddd
    padding: $blh
  &__inner
  &__letter
  &__info
  &__title
  &__description

//////////////////////////////////////////////
// Component: #
//////////////////////////////////////////////

.block
  display: block
  &__element
    display: inline
  &--modifier
    display: inline-block
